# =============================================
# CONFIGURACIÓN GENERAL
# =============================================
APP_NAME="Sistema de Solicitudes - UGC"
APP_ENV=development
BASE_URL=/ugc_incapacidades

# =============================================
# ORACLE (ICEBERG - RH)
# =============================================
ORACLE_HOST=172.28.5.101
ORACLE_PORT=1521
ORACLE_USER=iceberg
ORACLE_PASS=iceberg0
ORACLE_SERVICE=UGC
ORACLE_CHARSET=AL32UTF8

# =============================================
# LDAP (Universidad La Gran Colombia)
# =============================================
LDAP_HOST=10.238.30.115
LDAP_PORT=389
LDAP_USER=cn=ConsultaSi,ou=users,dc=ugc.edu,dc=co
LDAP_PASSWORD=1s0lwt4Secy1723
LDAP_TREE=ou=users,dc=ugc.edu,dc=co
